{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in Listings %}
        <div id = "listing">
            <div id = "image">
                <img src="{{ listing.comment.image }}" alt="{{listing.post_name}}" id = "listing_img">
            </div>
            <div id = "description">
                <h3>{{ listing.post_name }}</h3>
                <h4>Price: {{ listing.price }}</h4>
                <p>{{ listing.comment.comment }}</p>
                <p>Created by: {{ listing.author }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}